@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    background-color: #242424;
    color: white;
    font-family: 'poppins';
    font-weight: 400;
    min-height: 100vh;
}

// header section
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 20px;

    div{
        display: flex;
        gap: 20px;

        a{
            font-size: 19px;
            color: rgb(230, 68, 165);
            text-decoration: none;

        }
        .active {
            text-shadow: 0 0 20px pink;
        }
    }
}

// card section
.card {
    background: gray;
    border-radius: 10px;
    padding: 20px;

    .head {
        display: flex;
        gap: 40px;
        align-items: center;
        margin-bottom: 20px;

        .letter{
            height: 60px;
            width: 60px;
            background: purple;
            display: grid;
            place-items: center;
            border-radius: 10px;
            font-size: 30px;
        }
        .info {
            font-size: 20px;
         }
    }

    .body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;

        .field{
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 30px;
            }
        }
        .status{
            span{
                padding: 10px 20px;
                border-radius: 10px;
            }
        
        .interview{
            background: green;
        }
        .rejected{
            background: red;
        }
        .pending{
            background: rgb(171, 171, 11);
        }
        .default{
            background: gray;
        }
        }
    }
}
.job-count {
    margin-bottom: 50px;
   
}
// joblist section
.list-page {
    padding: 40px;
}
.list-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 50px;
}
.add-sec{
 box-shadow: 0 22px 70px 4px rgba(230, 68, 165, 0.672); 
 max-width: 695px;
 margin: 100px auto;
 padding: 25px;  
}
form {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px, 1fr));
    gap: 20px;
    font-size: large;

    div{
        display: flex;
        flex-direction: column;
    }
    div input, div select {
        padding: 10px 15px;
        margin-top: 5px;
        border-radius: 4px;
    }
    div:last-child {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    button{
       padding: 10px 40px;
       background: rgb(230, 68, 165);
       color: white;
       border-radius: 5px;
       cursor: pointer;
       transform: all 300ms;
       font-size: large;

       &:hover {
        scale:0.99;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.36);
       }
    }

}

.filter-sec {
    @extend .add-sec;
    max-width: 1000px;
    margin-top: 10px;

    .button-area{
        align-items: start;
    }
}